*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.titulo1{
    margin-left: 90px;
    color: #426b1f;
    font-weight: 100;
}

.navegacao{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 60px;
    list-style: none;
}

.navegacao > li > a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.navegacao > li > a:hover{
    text-decoration: underline;
}

.botao1{
    padding: 10px;
    border-radius: 5px;
    background-color: #426b1f;
    color: #FFFFFFFF;
    font-weight: bold;
}


.titulomain{
    /* font-family: Arial, Helvetica, sans-serif; */
    margin-top: 80px;
    margin-left: 90px;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.titulomain > .titulo > p{
    margin-top:28px;
    font-size: 20px;
    font-weight: 100;
    color: #131313;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    gap: 20px;
}

.titulo > h1{
    font-size: 60px;
    font-weight: 200;
}

hr{
    margin-left: 90px;
    margin-right: 60px;
    color: #E6E6E6;
}

.buttons{
    display: flex;
    gap: 10px;
}

#button1{
    padding: 7px 15px;
    background-color: #426b1f;
    color: #FFFFFFFF;
    font-weight: 600;
    border-radius: 20px;
}

#button2{
    font-weight: 600;
    background-color: transparent;
    padding: 7px 15px;
    border-radius: 20px;
    border: 1px solid #909090;
}

#button3{
    font-weight: 600;
    background-color: transparent;
    padding: 7px 15px;
    border-radius: 20px;
    border: 1px solid #909090;
}

.principal2{
    height: 80vh;
}

.imgs{
    margin-top: 30px;
    display: flex;
    gap: 50px;
    margin-left: 90px;

}